<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="event_1" class="ua.epam.spring.hometask.domain.Event" c:name="${event1.name}"
          c:basePrice="${event1.basePrice}" c:rating="${event1.rating}" scope="prototype"/>

    <bean id="event_2" class="ua.epam.spring.hometask.domain.Event" c:name="${event2.name}"
          c:basePrice="${event2.basePrice}" c:rating="${event2.rating}" scope="prototype"/>

    <bean id="eventDaoImpl" class="ua.epam.spring.hometask.dao.impl.EventDaoImpl" scope="prototype">
        <property name="events">
            <set>
                <ref bean="event_1"/>
                <ref bean="event_2"/>
            </set>
        </property>
    </bean>
</beans>